/*
  Lightbird - font.css
  https://github.com/reizumii/lightbird
*/

:root {
  font-size: var(--lb-font-size-md) !important;
}

@media (-moz-platform: windows) {
  :root,
  .cui-widget-panel,
  #widget-overflow {
    font-family: "Segoe UI Variable", "Segoe UI", sans-serif !important;
  }
}

/* tagline font */
@font-face {
  font-family: "Instrument Serif";
  src: url("../assets/fonts/Instrument_Serif.woff2") format("woff2");
  font-display: swap;
}
