/*
  Lightbird - main.css
  https://github.com/reizumii/lightbird
*/

/* main */
#tabmail {
  background-color: var(--lb-panel-bgcolor);
  border-top-left-radius: 8px;
  border: 1px solid var(--lb-border-color-2);
  border-bottom: 0;
  border-right: 0;
  overflow: clip;
}

/* TODO: change this */
@media (-moz-platform: windows) {
  :root:not(#messengerWindow) {
    background: transparent !important;
    --foldertree-background: transparent !important;
  }
}
#tabpanelcontainer {
  background-color: transparent !important;
}
#folderPane {
  --sidebar-background: transparent;
}
.list-header-bar:not([hidden]) {
  --layout-background-1: transparent;
}
#threadTree[rows="thread-card"] {
  --tree-pane-background: transparent;
}
#threadPane > tree-view {
  --tree-view-bg: transparent;
}

/* list tree */
#folderPaneHeaderBar {
  min-height: var(--lb-header-height);
  flex-direction: row !important;
  border-bottom: 1px solid var(--lb-border-color-1) !important;
  --sidebar-header-spacing: 0 8px;
  --sidebar-header-gap: var(--lb-button-gap);
}
#folderPaneWriteMessage {
  margin-right: auto !important;
  order: -1;
}
#folderPaneMoreButton {
  order: 1;
}
#folderTree {
  &::before {
    background-image: none !important;
  }
  &, & ul {
    --indent: calc(10px + (32px * var(--depth))) !important;
  }
  & li {
    &[data-server-type] > .container > .name {
      font-weight: normal !important;
    }
    & > .mode-container {
      & > .mode-name {
        font-size: var(--lb-font-size-md) !important;
      }
    }
  }
  & > li {
    & > .mode-container {
      margin-inline: 4px !important;

      & > .mode-button {
        opacity: 0;
        --button-margin: 0 6px;

        li:hover & {
          opacity: 1;
        }
      }
    }
  }
  & li {
    &[data-tag-key] > .container > .icon {
      fill: var(--icon-color) !important;
      --icon-tag: var(--lb-icon-tag-fill);
    }
  }
  & .icon {
    width: var(--lb-icon-size-md) !important;
    height: var(--lb-icon-size-md) !important;
    fill: var(--lb-text-color) !important;
  }
}
:is(ul, ol)[role="tree"] {
  & .container {
    font-size: var(--lb-font-size-md);
    margin-block: 2px;
    padding-inline-end: 10px;
    border: 0 !important;

    & .twisty {
      order: 99;
      --list-item-buttons-size: var(--lb-icon-size-xs);

      & .twisty-icon {
        content: var(--lb-icon-chevron-down-12);
        fill: var(--lb-text-color);
        transform: rotate(180deg) !important;
      }
    }
    li.children.collapsed > & .twisty-icon {
      transform: unset !important;
    }
    &::before {
      content: "";
      width: 3px;
      height: var(--lb-icon-line-md);
      background-color: var(--indicator-background);
      border: 0 !important;
      border-radius: 3px;
      position: absolute;
      inset-inline-start: calc(var(--indent) - 10px) !important;
      top: 50% !important;
      transform: translateY(-50%) !important;
    }
    li.selected > &::before {
      --indicator-background: var(--selected-item-color);
    }
  }
}
.name {
  margin-inline-start: var(--lb-list-item-gap) !important;

  .unread > .container > &,
  .new-messages > .container > & {
    font-weight: normal !important;
  }
}
.folder-count-badge {
  padding-block: 0 !important;
  font-size: var(--lb-font-size-xxs) !important;
  font-variant-numeric: unset !important;
  border: 0 !important;
}
.unread-count {
  .unread > .container > & {
    --folderpane-unread-count-background: var(--selected-item-color);
  }
  .unread.children.collapsed:has(ul > .unread) > .container > &,
  .new-messages.unread.children.collapsed:has(ul > .new-messages) > .container > & {
    background-color: var(--folderpane-unread-count-background) !important;
    color: var(--folderpane-unread-count-text) !important;
  }
}

/* list header */
.list-header-bar:not([hidden]) {
  min-height: var(--lb-header-height);
  --thread-pane-header-padding: 14px 6px;
}
.list-header-bar-container-start,
.list-header-bar-container-end {
  padding: 0 !important;
}
.list-header-bar-container-start {
  flex-direction: column;
  align-items: start !important;
  gap: 0 !important;
}
.list-header-bar-container-end {
  gap: var(--lb-button-gap) !important;
}
.list-header-title {
  font-size: var(--lb-font-size-md) !important;
}
#threadPaneFolderCountContainer {
  display: flex;
}
.thread-pane-count-info {
  font-size: var(--lb-font-size-xs) !important;
  padding-inline-start: 0 !important;
  color: var(--lb-text-ghost-color);
}

/* mail: quick filter */
#quick-filter-bar {
  margin: 4px;
  border: 1px solid var(--lb-border-color-2) !important;
  border-radius: var(--button-border-radius);
  --layout-background-1: var(--lb-panel-bgcolor);
  --qfb-padding: 5px 8px;
}
#quickFilterBarContainer {
  align-items: center;
  flex-wrap: unset !important;
  gap: 4px;
}
#qfb-qs-textbox {
  max-height: var(--lb-button-height);
  margin: 0 !important;
  order: -1;
}
#qfb-results-label[style="visibility: hidden;"] {
  display: none;
}
#qfd-dropdown {
  --icon-filter: var(--lb-icon-filter-add);
}

/* mail: card */
[is="tree-view-table-body"] {
  & > .card-layout > td {
    padding-inline: 4px !important;

    &[aria-selected="true"] > .card-container {
      --indicator-background: var(--selected-item-color);
      --tree-card-background: var(--lb-button-hover-bgcolor);
    }
    & > .card-container {
      border: 0 !important;
      --tree-card-background: transparent;
      --tree-card-content-radius: var(--button-border-radius);

      &::before {
        content: "";
        width: 3px;
        height: var(--lb-icon-line-xl);
        background-color: var(--indicator-background);
        border: 0 !important;
        border-radius: 3px;
        position: absolute;
        inset-inline-start: 0 !important;
        top: 50% !important;
        transform: translateY(-50%) !important;
        --indicator-width: 3px;
      }
    }
  }
  & > .card-layout {
    &:is(:hover, :focus, :focus-within) {
      & .card-container {
        box-shadow: none !important;
        --tree-card-background: var(--lb-button-hover-bgcolor);

        & .tree-button-more {
          display: flex !important;
        }
      }
    }
  }
  &:not(:focus, :focus-within) .card-layout {
    &.selected {
      & .card-container::before {
        --indicator-background: var(--selected-item-color);
      }
    }
  }
}
#threadTree[rows="thread-card"] {
  &:not(:focus, :focus-within) .card-layout,
  &:not(:focus, :focus-within) .card-layout[data-properties~="junk"] {
    &.selected.current > td > .card-container {
      --tree-card-background: var(--lb-button-active-bgcolor);
    }
  }
  & .card-layout {
    height: 62px !important;

    & td {
      & .card-container {
        padding-inline: 12px !important;
        grid-gap: 10px;

        & .thread-card-column:first-child {
          align-items: center;
        }
        & .thread-card-column {
          justify-content: center;
          --thread-pane-container-gap: 0;
        }
        & .sender {
          font-size: var(--lb-font-size-md) !important;
          font-weight: normal !important;
        }
        & .date {
          color: var(--lb-text-ghost-color);
          font-size: calc(var(--lb-font-size-sm) - 1px) !important;
          font-weight: normal !important;
        }
        & .subject {
          color: var(--lb-text-ghost-color);
          font-size: var(--lb-font-size-sm) !important;
        }
        & .recipient-avatar {
          --recipient-avatar-size: 36px;
        }
        & .tree-button-more {
          display: none !important;
        }
        & .thread-card-subject-container {
          padding-inline-start: 0 !important;
        }
        & button {
          &.twisty {
            & .twisty-icon {
              width: var(--lb-icon-size-xs) !important;
              height: var(--lb-icon-size-xs) !important;
              fill: var(--lb-text-ghost-color) !important;
            }
          }
        }
      }
      & .read-status {
        position: absolute;
        display: none;
      }
      & .button-star {
        display: none !important;
      }
    }
    &[data-properties~="unread"] {
      & .card-container :is(.sender, .subject) {
        font-weight: 600 !important;
      }
    }
  }
  &[data-show-grouped-by-sort~="true"] {
    & .card-layout[data-properties~="dummy"] {
      height: 36px !important;

      & .card-container {
        & .thread-card-dynamic-row {
          display: flex !important;
          flex-direction: row-reverse !important;
        }
      }
      & .thread-card-subject-container {
        margin-right: auto;
      }
      & .sort-header-details {
        display: none !important;
      }
      & .subject {
        font-weight: 600 !important;
      }
    }
  }
}
[is="tree-view-table-body"] {
  & > .table-layout {
    height: var(--lb-list-item-height) !important;
  }
}
[is="tree-view-table"] img {
  fill: var(--lb-text-color) !important;
}
.tree-table-cell-container button {
  font-weight: 600 !important;
}

/* mail: view */
#messagePane,
#messagepanebox {
  --layout-background-1: transparent;
}
.message-header-container {
  padding: 0 16px !important;
}
.message-header-container,
.message-header-extra-container {
  row-gap: 0 !important;
}
.message-header-row {
  min-height: 24px !important;
  margin: 0 !important;
}
.message-header-wrap:not([hidden]) {
  min-height: 56px !important;
  align-items: center !important;
  flex-direction: row-reverse !important;
  flex-wrap: unset !important;
}
.recipients-list[aria-labelledby="fromHeading"] > .header-recipient {
  --message-header-field-offset: 6px 16px 6px 4px;
}
.header-recipient:hover,
.header-newsgroup:hover {
  color: var(--lb-text-color) !important;
  background-color: var(--lb-button-hover-bgcolor) !important;
}
.recipient-multi-line {
  --recipient-multi-line-gap: 0 !important;
}
.recipient-multi-line-name {
  font-size: var(--lb-font-size-md) !important;
}
.recipient-multi-line-address {
  color: var(--lb-text-ghost-color) !important;
  font-size: var(--lb-font-size-xs) !important;
  opacity: 1 !important;
}
.header-recipient > .recipient-avatar {
  margin-inline-end: 10px !important;
}
/* TODO: unhide this later */
.recipient-address-book-button {
  display: none !important;
}

.header-buttons-container {
  align-self: center !important;

  .message-header-buttons-only-icons & {
    gap: var(--lb-button-gap) !important;
  }
}
#toHeading {
  align-self: center !important;
}
#toHeading,
.recipient-single-line {
  font-size: var(--lb-font-size-xs);
}
.recipient-single-line {
  font-weight: 600;
  color: var(--selected-item-color);
}
.message-header-datetime {
  font-size: var(--lb-font-size-xs);
}
#headerSubjectSecurityContainer {
  order: 99 !important;
}
.message-header-large-subject {
  & #expandedsubjectBox {
    padding-block: 6px 12px;
    font-weight: 600 !important;
    font-size: var(--lb-font-size-lg) !important;
  }
}

/* mail: compose */
.address-container {
  background-color: transparent !important;
  border: 0 !important;
}

/* === calendar === */
:root {
  --icon-nav-left: var(--lb-icon-chevron-left-16) !important;
  --icon-nav-right: var(--lb-icon-chevron-right-16) !important;

  --viewBackground: transparent !important;
}
.sidebar-panel-header {
  --sidebar-header-spacing: 8px;
}

#calendar-panel {
  padding-bottom: 0 !important;
}
#calendarContent {
  --layout-background-0: transparent;
}
#calSidebar {
  --sidebar-background: transparent;
}
#primaryButtonSidePanel {
  justify-content: start !important;
}
#sidePanelNewEvent {
  --icon-add: var(--lb-icon-calendar);
}

#calMinimonthBox {
  --calendar-side-panel-minimonth-margin: 0;
}
calendar-minimonth {
  margin: 4px !important;
  padding: 0 !important;
  --mmMainBorderColor: var(--lb-border-color-2) !important;
  --mmMainBackground: var(--lb-panel-bgcolor) !important;
}
#minimonth-pane calendar-minimonth,
#recurrencePreview calendar-minimonth {
  --mmMainBorderRadius: var(--button-border-radius) !important;
}
.minimonth-month-box {
  border-bottom: 1px solid var(--lb-border-color-2);
}
.minimonth-row-head  {
  height: 36px;
}
.minimonth-nav-section {
  --mmBoxBackground: transparent;
}
.minimonth-nav-item {
  border-inline: 0 !important;
}
.minimonth-row-header {
  font-weight: 600 !important;
}
.minimonth-month-name,
.minimonth-year-name {
  font-weight: normal !important;
}
.minimonth-day,
.minimonth-week {
  --mmDayPadding: 8px 0 3px 0;
}
.minimonth-day[selected="true"] {
  border: 0 !important;
}
.minimonth-day[today="true"] {
  font-weight: 600 !important;
  --mmDaySelectedTodayBackground: color-mix(in srgb, var(--selected-item-color), transparent 85%);
}
.minimonth-day:hover[interactive] {
  background-color: var(--lb-button-hover-bgcolor) !important;
  border: 0 !important;
}
.minimonth-week {
  font-weight: 600 !important;
  --mmDayWeekColor: var(--lb-text-ghost-color);
}

#sideButtonsBottom {
  min-height: var(--lb-toolbar-height);
  align-items: center;
  border-top: 1px solid var(--lb-border-color-2);
  padding-inline: 6px;
  margin: -4px;
}
#previousViewButton,
#nextViewButton,
.button.minimonth-nav-btn.months-back-button,
.button.minimonth-nav-btn.months-forward-button,
.button.minimonth-nav-btn.years-back-button,
.button.minimonth-nav-btn.years-forward-button {
  --icon-size: var(--lb-icon-size-xs) !important;
}

/* calendar: list */
#minimonth-splitter {
  display: none;
}
#calendar-list-pane {
  padding: 4px;
}
.calendar-list-header {
  font-size: 1rem !important;
  min-height: var(--lb-button-icon-height) !important;
  border-radius: var(--button-border-radius) !important;
  --calendar-list-header-padding: 0 12px;
}
#toggleCalendarIcon {
  content: var(--lb-icon-chevron-down-12);
  transform: rotate(180deg) !important;
}
#calendarListHeader:hover {
  --layout-background-3: var(--lb-button-hover-bgcolor);
}
#calendarListHeader[checked="false"] > img {
  transform: none !important;
}
#calendar-list > li {
  min-height: var(--lb-button-icon-height) !important;
  position: relative;
  border-radius: var(--button-border-radius) !important;
  margin-inline: 0 !important;
  --calendar-list-item-padding: 0;

  &::before {
    content: "";
    width: 3px;
    height: var(--lb-icon-line-md);
    border-radius: 999px;
    position: absolute;
    left: 0;
  }
  &[calendar-readonly] {
    .calendar-color {
      mask-image: var(--lb-icon-calendar-lock);
    }
  }
  &:hover .calendar-more-button {
    display: unset;
  }
}
#calendar-list > li.selected {
  background-color: var(--lb-button-selected-bgcolor) !important;
  color: var(--lb-text-color) !important;

  &::before {
    background: var(--selected-item-color);
  }
}
#calendar-list > li > .calendar-more-button {
  display: none;
}
#calendar-list > :is(li, richlistitem) > .calendar-color {
  mask-image: var(--lb-icon-calendar-fill);
  filter: brightness(0.8);
  --calendar-list-item-dot-size: var(--lb-icon-size-md);
}
#calendar-list > li > :is(.calendar-displayed, .calendar-more-button) {
  min-width: var(--lb-icon-size-md) !important;
  min-height: var(--lb-icon-size-md) !important;
  width: var(--lb-icon-size-md) !important;
  height: var(--lb-icon-size-md) !important;
}
#calendar-list > li > :is(.calendar-displayed, .calendar-more-button) {
  fill: var(--lb-text-color) !important;
}
.calendar-readstatus {
  display: none;
}

/* calendar: header */
#calendarViewHeader {
  margin: 4px 4px 0 4px;
  background-color: var(--lb-panel-bgcolor);
  border: 1px solid var(--lb-border-color-2);
  border-radius: var(--button-border-radius);
}
#todayViewButton {
  order: -1;
}
.view-header {
  font-weight: 600 !important;
}
.calview-toggle {
  border-radius: var(--button-border-radius) !important;
  border: 0 !important;
  box-shadow: inset 0 0 0 1px var(--lb-border-color-1) !important;
  --calendar-view-toggle-background: var(--lb-button-group-bgcolor);
}
#calendarWeek {
  display: none !important;
}
button.calview-toggle-item {
  position: relative;
  display: flex;
  align-items: center;
  min-height: var(--lb-button-height) !important;
  border-radius: var(--button-border-radius) !important;
  box-shadow: none !important;
  margin: 0 !important;
  gap: 8px;
  --calendar-view-toggle-label-padding: 0 12px 0 10px;
  --calendar-view-toggle-border-color: var(--lb-border-color-2);
  --calendar-view-toggle-hover-background: var(--lb-button-hover-bgcolor);
  --calendar-view-toggle-active-background: var(--lb-button-active-bgcolor);
  --button-border-color: transparent;

  &::before {
    content: "";
    width: var(--lb-icon-size-md) !important;
    height: var(--lb-icon-size-md) !important;
    display: flex;
    fill: var(--lb-text-color);
    -moz-context-properties: fill;
  }
  &[aria-selected="true"]::after {
    content: "";
    width: var(--lb-icon-line-md);
    height: 2px;
    background: var(--selected-item-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
}
#calTabDay::before {
  content: var(--lb-icon-calendar-today);
}
#calTabWeek::before {
  content: var(--lb-icon-calendar-week);
}
#calTabMultiweek::before {
  content: var(--lb-icon-calendar-multiweek);
}
#calTabMonth::before {
  content: var(--lb-icon-calendar-month);
}

/* calendar: view */
#view-box {
  --layout-background-1: transparent;
}
calendar-month-view,
calendar-multiweek-view {
  padding: 0 !important;
}
.monthtable {
  border-inline-end: 0 !important;
  border-block-end: 0 !important;

  & th > * {
    display: flex !important;
    min-height: 36px;
    align-items: center;
    border-top: 0 !important;
  }
  & :is(td:first-child, th:first-child) > * {
    border-inline-start: 0 !important;
  }
}
.calendar-month-day-box-current-month[selected="true"],
.calendar-month-day-box-day-off[selected="true"],
.calendar-month-day-box-other-month[selected="true"] {
  border: 0 !important;
}
.calendar-month-day-box-date-label[relation="today"],
.calendar-day-label-name {
  font-weight: 600 !important;
}
.calendar-month-day-box-dates {
  --calendar-month-day-box-padding: 8px 8px 4px 8px;
}
.calendar-color-box {
  background-color: color-mix(in srgb, var(--item-backcolor), transparent 80%) !important;
  color: color-mix(in srgb, var(--item-forecolor-1), var(--item-backcolor) 40%) !important;
  border-radius: var(--button-border-radius) !important;
  box-shadow: none !important;
  font-size: var(--lb-font-size-sm) !important;
  --item-forecolor-1: color-mix(in srgb, var(--item-forecolor), var(--lb-text-color) 75%) !important;
}
.calendar-month-day-box-other-month {
  --viewMonthDayOtherBackground: color-mix(in srgb, var(--selected-item-color) 4%, transparent);
}
.calendar-month-day-box-day-off {
  --viewWeekendBackground: color-mix(in srgb, var(--selected-item-color) 4%, transparent);
}
.calendar-month-day-box-other-month.calendar-month-day-box-day-off {
  --viewMonthDayOtherBackground: color-mix(in srgb, var(--selected-item-color) 8%, transparent);
}
.calendar-month-day-box-week-label {
  font-size: var(--lb-font-size-xs) !important;
  font-weight: 600 !important;
  color: var(--lb-text-ghost-color) !important;
}
